[Unit]
Description=farmbotosproxy
After=network.target

[Service]
Environment=NODE_PORT=%i
Type=simple
User=root
ExecStart=/usr/bin/node /root/dev/cors-escape/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target